<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" media="only screen and (max-width: 600px)" href="resources/mainpage/mobile.css" />
		<link rel="stylesheet" media="only screen and (min-width: 601px)" href="resources/mainpage/styles.css" />
		<title>10 Minute Files</title>	

		<link rel="apple-touch-icon" sizes="180x180" href="resources/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="resources/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="resources/favicons/favicon-16x16.png">
		<link rel="manifest" href="resources/favicons/site.webmanifest">
		<link rel="mask-icon" href="resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="resources/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="resources/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body> 
		<div class="form-wrapper">
			<a id="fileSizeDiv">Max File Size 200MB</a>
			<form id="submitForm" class="mainform" action="/" method="post" enctype="multipart/form-data">
				<input type="file" id="fileUpload" name="mainFile" onchange="changeText(this.files)">
				<label class="button" id="fileUploadButton" for="fileUpload"><a class="buttonLabel">Select a file</a></label>
				<div class="flexrow">
					<input type="checkbox" name="spoilerFile" id="spoilercheckbox">
					<div class="plainlabeldiv">
						<label class="plainlabel" for="spoilercheckbox">Append "SPOILER" to file name (for discord)</label>
					</div>
				</div>
				<input class="button" type="submit" id="fuckinsenditbutton" value="Fuckin' send it" disabled onclick="uploadingAnimation(this)">
			</form>
		</div>
		<script src="./resources/mainpage/scripts.js">
		</script> 
	</body>
</html>

